/*header related styles */
.header {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 50px 140px 0px 140px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 177px 530px 0px 530px;
    margin-bottom: 0px;

}

.banner-info {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
    margin-top: 0px;
}

/* main section  */
#off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

#deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 48px;
}

#new-year {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    padding: 0px 399px 0px 399px;
    align-items: center;
    margin-bottom: 120px;
}

.party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: 120px 140px;
    display: flex;
    align-items: center;
}

.year {
    width: 319px;
    height: 464px;

    flex-shrink: 0;
    padding: 68px 138px 68px 0px;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 94px 0px 126px;
    margin-bottom: 0px;
}

.invitation {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 45px 0px 126px;
    margin-top: 0px;
}

.join {
    color: #FFF;
    /*text-align: center;*/
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 0px 142px 158px;
}

.text-orange {
    color: #F00;
}

.event {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    text-align: center;
    margin: 120px 140px;
    border-radius: 16px;
    padding: 100px 385 214px 385px;
}

.event-moment {
    padding: 220px 385 214px 385px;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
}

.gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.portfolio {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
}

.portfolio-info {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
}

.gift {
    margin-left: 140px;
    margin-bottom: 120px;
    align-items: center;
}

.gift-image {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    margin-right: 24px;
    margin-bottom: 24px;
}

.subscribe {
    padding: 80px 212px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px 140px;
    align-items: center;
}

.email {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding-left: 320px;
}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.subscribe-info {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}

.mail-box {
    display: flex;

}

.mail {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: 0;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.btn-sub {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

/*Footer styles*/
footer {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
    margin-left: 0;
    align-items: center;
    padding: 120px 140px;
}

.first {
    display: flex;
    justify-content: space-between;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

.contact {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

.socilal-links a {
    margin-right: 24px;
}

.socilal-links {
    padding: 20px 600px;
}

.last {
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

.unsub {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}